body {
  background-color: #282c34;

}

.margin{
  padding-left: 15px;
 padding-right: 15px;
}

.bele{
  margin-bottom: 30px
}

.menu {
  display: flex;
  margin-bottom: 30px;
}
.slider{
  height: 50%;
  width: 50%;
}

p.sansserif  {
  font-family: Arial, Helvetica, sans-serif;
}
h1.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

